<header>
  <a href="/" class="logo">
    <i class="fa-solid fa-floppy-disk"></i>
    <h1>websave</h1>
  </a>
  <div class="search-new">
    <form action="">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" id="searchInput" placeholder="Search here..." />
    </form>
    <div class="new" id="newFileBtn">
      <i class="fa-solid fa-plus"></i>
      <p>New file</p>
    </div>
  </div>
</header>

<main id="bestanden">
  <h1>{{project.title}}</h1>
  <ul>
    {{#each project.zipFiles}}
      <li class="searchable-item">
        <div>
          <i class="fa-solid fa-file"></i>
          <p>{{this.name}}</p>
        </div>
        <a
          href="/download/{{this.fileId}}"
          download="{{this.name}}"
        >Download</a>

      </li>
    {{/each}}
  </ul>
</main>

<div id="zipUploadPopup" class="zipuploadpopup">
  <form
    action="/project/{{project._id}}/upload"
    method="post"
    enctype="multipart/form-data"
  >
    <input
      id=""
      type="text"
      name="zipName"
      placeholder="File description"
      required
    />
    <input type="file" name="zipFile" required />
    <div>
      <p id="cancelbutton">Cancel</p>
      <button type="submit">Upload</button>
    </div>
  </form>
</div>